<div class="header {{storedTheme}}">
  <div class="container">
    <header class="header-main">
      <div class="logo">
        <div class="menu-bar">
          <span (click)="sideNavToggle()" class="material-icons">menu</span>
        </div>
        <h2 routerLink="/">Material Admin</h2>
      </div>
      <div class="profile">
        <button mat-button class="menu-header" [matMenuTriggerFor]="menu">
          <div class="profile-img">
            <img src="../../assets/329805441_744390206912659_3642328933682377173_n.jpg" alt="">
          </div>
          <p>Kader Foysal</p>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Profile</button>
          <button mat-menu-item>Logout</button>
        </mat-menu>
      </div>
    </header>
  </div>
</div>
<div class="dashboard-page-render content {{storedTheme}}">
  <div [ngClass]="{
    'page-render-area-left': sideNavLeft,
    'page-render-area-right': !sideNavLeft && sideNav,
    'p-100': !sideNav && sideNavLeft,
    'p-l-100': !sideNav && !sideNavLeft
    
  }">
    <!---side-nav-->
    <div class="side-nav {{storedTheme}}"
      [ngClass]="{'w-100px side-nav-active': sideNav == false , 'sidenavRight' : settingsLeft == true , 'sidenavLeft' : settingsRight == true }">
      <div class="side-nav-main" [ngClass]="{'over-x': sideNav == false}">
        <div class="menu">
          <ul *ngFor="let data of menuData">
            <li>
              <a *ngIf='sideNav'
                (click)="data.children ? toggleSubmenu(data, sideNav) : whitOutSubmenuClick(data.path)" class="sumbenu"
                routerLinkActive="link-active">
                <span class="material-icons icon">{{data.icon}}</span>
                <span [class]="sideNav?'menu-show':'menu-hide'">{{data.title}}
                </span>
                <mat-icon *ngIf="sideNav && data.children && ! data.expanded">keyboard_arrow_left</mat-icon>
                <mat-icon *ngIf="sideNav &&  data.expanded">keyboard_arrow_down</mat-icon>
              </a>
              <div *ngIf="sideNav && data.expanded" class="submenu-content"
                [ngClass]="data.expanded? 'submenu-open': 'submenu-hide'">
                <div class="sabmenu-main" *ngFor="let subData of data?.children">
                  <a routerLink="{{subData?.path}}">
                    <span [class]="sideNav?'menu-show':'menu-hide'">{{subData?.title}}
                    </span>
                  </a>
                </div>
              </div>

              <a *ngIf='!sideNav && !data.children'
                (click)="data.children ? toggleSubmenu(data, sideNav) :whitOutSubmenuClick(data.path)"
                class="child-menu-parent">
                <span class="material-icons icon" routerLink="{{data.path}}">{{data.icon}}
                </span>
                <div routerLink="{{data.path}}" class="child-menu child-menu-ex"
                  [class]="settingsRight ? 'child-menu-right' : 'child-menu-left'">{{data.title}}</div>
              </a>



              <a *ngIf='!sideNav && data.children' class="child-menu-parent">
                <span class="material-icons icon" (click)="toggleSubmenu(data, sideNav)">{{data.icon}}
                </span>
                <div class="child-menu" [class]="settingsRight ? 'child-menu-right' : 'child-menu-left'">
                  <h2>{{data.title}}</h2>
                  <div class="chield-submenu" *ngFor="let item of data.children">
                    <a routerLink="{{item.path}}" href="">{{item.title}}</a>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <!-- <div *ngIf="!sideNav" class="extra-small-sidenav">
        <ul>
          <li  >
            <button [matMenuTriggerFor]="Dashboard" >
               <span class="material-icons icon">shopping_cart
              </span>
            </button>
            <mat-menu #Dashboard="matMenu"  class="parent" [class]="settingsLeft ? 'parent-right': 'parent-left'">
              <button mat-menu-item routerLink="/">Dashboard</button>
            </mat-menu>
          </li>
          <li>
            <button [matMenuTriggerFor]="Layout"> <span class="material-icons icon">dashboard
              </span></button>
            <mat-menu #Layout="matMenu" class="parent" [class]="settingsLeft ? 'parent-right': 'parent-left'">
              <button mat-menu-item [matMenuTriggerFor]="LayoutSub">Layout</button>
            </mat-menu>
            <mat-menu #LayoutSub="matMenu"  >
              <button mat-menu-item>Stepper</button>
              <button mat-menu-item>List</button>
              <button mat-menu-item>Infinite List</button>
              <button mat-menu-item>Accordion</button>
              <button mat-menu-item>Tabs</button>
            </mat-menu>
          </li>
          <li>
            <button  [matMenuTriggerFor]="Forms"> <span class="material-icons icon">text_format
              </span></button>
            <mat-menu #Forms="matMenu"  class="parent" [class]="settingsLeft ? 'parent-right': 'parent-left'">
              <button mat-menu-item [matMenuTriggerFor]="FormstSub">Forms</button>
            </mat-menu>
            <mat-menu #FormstSub="matMenu">
              <button mat-menu-item routerLink="/form-input">Form Inputs</button>
              <button mat-menu-item>Form Layouts</button>
              <button mat-menu-item>Buttons</button>
              <button mat-menu-item>Datepicker</button>
            </mat-menu>
          </li>
          <li>
            <button  [matMenuTriggerFor]="extra"  > <span class="material-icons icon">settings_input_component
              </span></button>
            <mat-menu #extra="matMenu" class="parent parent-big" [class]="settingsLeft ? 'parent-right': 'parent-left'">
              <button mat-menu-item [matMenuTriggerFor]="extraSub">Extra Components</button>
            </mat-menu>
            <mat-menu #extraSub="matMenu" class="parent-sub-big">
              <button mat-menu-item>Calendar</button>
              <button mat-menu-item>Progress Bar</button>
              <button mat-menu-item>Spinner</button>
              <button mat-menu-item>Calendar Kit</button>
              <button mat-menu-item>Alert</button>
              <button mat-menu-item>Chat</button>

            </mat-menu>
          </li>
          <li>
            <button [matMenuTriggerFor]="Maps"> <span class="material-icons icon">map
              </span></button>
            <mat-menu #Maps="matMenu"   class="parent" [class]="settingsLeft ? 'parent-right': 'parent-left'">
              <button mat-menu-item [matMenuTriggerFor]="MapsSub">Maps</button>
            </mat-menu>
            <mat-menu #MapsSub="matMenu">
              <button mat-menu-item routerLink="/pages/maps/gmaps">Google Maps</button>
              <button mat-menu-item routerLink="/pages/maps/leaflet">Leaflet Maps</button>
              <button mat-menu-item>Bubble Maps</button>
              <button mat-menu-item>Search Maps</button>

            </mat-menu>
          </li>
          <li>
            <button  [matMenuTriggerFor]="Charts" > <span class="material-icons icon">bar_chart
              </span></button>
            <mat-menu #Charts="matMenu"  class="parent" [class]="settingsLeft ? 'parent-right': 'parent-left'">
              <button mat-menu-item [matMenuTriggerFor]="ChartsSub">Charts</button>
            </mat-menu>
            <mat-menu #ChartsSub="matMenu">
              <button mat-menu-item>Echarts</button>
              <button mat-menu-item>Charts.js</button>
              <button mat-menu-item>D3</button>
            </mat-menu>
          </li>
          <li>
            <button [matMenuTriggerFor]="Editors"  > <span class="material-icons icon">edit
              </span></button>
            <mat-menu #Editors="matMenu"  class="parent" [class]="settingsLeft ? 'parent-right': 'parent-left'">
              <button mat-menu-item [matMenuTriggerFor]="EditorsSub">Editors</button>
            </mat-menu>
            <mat-menu #EditorsSub="matMenu">
              <button mat-menu-item routerLink="/pages/editors/tinymce">TinyMCE</button>
              <button mat-menu-item routerLink="pages/editors/ckeditor">CKEditor</button>
            </mat-menu>
          </li>
          <li>
            <button [matMenuTriggerFor]="Tables"> <span class="material-icons icon">table_chart
              </span></button>
            <mat-menu #Tables="matMenu"   class="parent" [class]="settingsLeft ? 'parent-right': 'parent-left'">
              <button mat-menu-item [matMenuTriggerFor]="TablesSub">Tables & Data</button>
            </mat-menu>
            <mat-menu #TablesSub="matMenu">
              <button mat-menu-item>Smart Table</button>
              <button mat-menu-item>Tree Grid</button>
            </mat-menu>
          </li>
          <li>
            <button [matMenuTriggerFor]="Miscellaneous"> <span class="material-icons icon">error_outline
              </span></button>
            <mat-menu #Miscellaneous="matMenu"  class="parent" [class]="settingsLeft ? 'parent-right': 'parent-left'">
              <button mat-menu-item [matMenuTriggerFor]="MiscellaneousSub">Miscellaneous</button>
            </mat-menu>
            <mat-menu #MiscellaneousSub="matMenu">
              <button mat-menu-item>404</button>
            </mat-menu>
          </li>
          <li>
            <button  [matMenuTriggerFor]="Auth"> <span class="material-icons icon">lock_open
              </span></button>
            <mat-menu #Auth="matMenu"  class="parent" [class]="settingsLeft ? 'parent-right': 'parent-left'">
              <button mat-menu-item [matMenuTriggerFor]="AuthsSub">Auth</button>
            </mat-menu>
            <mat-menu #AuthsSub="matMenu">
              <button mat-menu-item>Login</button>
              <button mat-menu-item>Register</button>
            </mat-menu>
          </li>
        </ul>
      </div> -->
      </div>
    </div>


    <div class="settings"
      [ngClass]="{'settings-button-left': settingsLeft == true && settingsLeftToggle == true, 'settings-button-left-first': settingsLeftToggle == false && settingsLeft == true } "
      (click)="settingsClicked()">
      <mat-icon>settings</mat-icon>
    </div>
    <div appOutSideClick (outsideClick)="handleOutsideClick()" class="settings-main {{storedTheme}}"
      [ngClass]="settingsToggle && settingsRight ? 'settings-open': 'settings-right-hide'"
      [ngClass]="settingsLeft && settingsLeftToggle ? 'settings-open-left': 'settings-left-hide'">
      <div class="example-section">
        <label id="example-radio-group-label">Theme Option</label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
          [(ngModel)]="favoriteSeason" (change)="onRadioChange(favoriteSeason)"  >
          <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season.value" >
            {{season.viewValue}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-checkbox [checked]="settingsLeft" (click)="onSidebarLeft($event,'left')">Settings Left Version</mat-checkbox>
      <mat-checkbox [checked]="settingsRight" (click)="onSidebarRight($event,'right')">Settings Right
        Version</mat-checkbox>
      <mat-checkbox [checked]="!sideNav" (click)="onMiniSidebarClicked($event)">Mini Sidebar</mat-checkbox>
    </div>



    <!--all-page-render-->
    <div class="all-page-render" (click)="handleOutsideClick()">
      <p><app-breadcrumb></app-breadcrumb></p>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <div class="overlay" *ngIf="sideNav == false" (click)="sideNavToggle()"></div> -->