<div class="header {{storedTheme}}">
  <div class="container">
    <header class="header-main">
      <div class="logo">
        <div class="menu-bar">
          <span (click)="sideNavToggle()" class="material-icons">menu</span>
        </div>
        <h2 routerLink="/">Material Admin</h2>
      </div>
      <div class="profile">
        <button mat-button class="menu-header" [matMenuTriggerFor]="menu">
          <div class="profile-img">
            <img src="../../assets/329805441_744390206912659_3642328933682377173_n.jpg" alt="">
          </div>
          <p>Kader Foysal</p>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Profile</button>
          <button mat-menu-item>Logout</button>
        </mat-menu>
      </div>
    </header>
  </div>
</div>
<div class="dashboard-page-render content {{storedTheme}}">
  <div [ngClass]="{
    'page-render-area-left': sideNavLeft,
    'page-render-area-right': !sideNavLeft && sideNav,
    'p-100': !sideNav && sideNavLeft,
    'p-l-100': !sideNav && !sideNavLeft
    
  }">
    <!---side-nav-->
    <div class="side-nav {{storedTheme}}"
      [ngClass]="{'w-100px side-nav-active': sideNav == false , 'sidenavRight' : sidearLeft == true , 'sidenavLeft' : sidearRight == true }">
      <div class="side-nav-main" [ngClass]="{'over-x': sideNav == false}">
        <div class="menu">
          <ul *ngFor="let data of menuData">
            <li>
              <a *ngIf='sideNav' routerLink="/"
                (click)="data.children ? toggleSubmenu(data) : whitOutSubmenuClick(data.path)" class="sumbenu"
                routerLinkActive="link-active">
                <span class="material-icons icon">{{data.icon}}</span>
                <span [class]="sideNav?'menu-show':'menu-hide'">{{data.title}}
                </span>
                <mat-icon *ngIf="sideNav && data.children && ! data.expanded">keyboard_arrow_left</mat-icon>
                <mat-icon *ngIf="sideNav &&  data.expanded">keyboard_arrow_down</mat-icon>
              </a>
              <div *ngIf="sideNav && data.expanded" class="submenu-content"
                [ngClass]="data.expanded? 'submenu-open': 'submenu-hide'">
                <div class="sabmenu-main" *ngFor="let subData of data?.children">
                  <a routerLink="{{subData?.path}}">
                    <span [class]="sideNav?'menu-show':'menu-hide'">{{subData?.title}}
                    </span>
                  </a>
                </div>
              </div>

              <a *ngIf='!sideNav && !data.children'
                (click)="toggleSubmenu(data.children ? toggleSubmenu(data) :whitOutSubmenuClick(data.link))"
                #tooltip="matTooltip" matTooltip={{data.title}} matTooltipPosition="right">
                <span class="material-icons icon">{{data.icon}}
                </span>
              </a>
              <a *ngIf='!sideNav && data.children' class="submenu-parent"
                (click)="toggleSubmenu(data.children ? toggleSubmenu(data) : whitOutSubmenuClick(data.path))"
                #tooltip="matTooltip" [matTooltip]="getTooltipContent(data)" matTooltipPosition="right">
                <span class="material-icons icon">{{data.icon}}
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="settings "
      [ngClass]="{'settings-button-left': sidearLeft == true && settingsLeftToggle == true, 'settings-button-left-first': settingsLeftToggle == false && sidearLeft == true } "
      (click)="settingsClicked()">
      <mat-icon>settings</mat-icon>
    </div>
    <div class="settings-main {{storedTheme}}"
      [ngClass]="settingsLeftToggle ? 'settings-left-open': 'settings-left-hide'"
      [ngClass]="settingsToggle ? 'settings-open': 'settings-hide'"
      [ngClass]="sidearLeft ?  'settings-open-left': 'settings-hide'">
      <div class="example-section">
        <label id="example-radio-group-label">Theme Option</label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
          [(ngModel)]="favoriteSeason" (change)="onRadioChange(favoriteSeason)">
          <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season.value">
            {{season.viewValue}}
          </mat-radio-button>
        </mat-radio-group>
        <div>Your favorite season is: {{favoriteSeason}}</div>
      </div>
      <mat-checkbox [checked]="sidearLeft" (click)="onSidebarLeft($event,'left')">Settings Left Version</mat-checkbox>
      <mat-checkbox [checked]="sidearRight" (click)="onSidebarRight($event,'right')">Settings Right
        Version</mat-checkbox>


      <mat-checkbox [checked]="!sideNav" (click)="onMiniSidebarClicked($event)">Mini Sidebar</mat-checkbox>
    </div>



    <!--all-page-render-->
    <div class="all-page-render">
      <p><app-breadcrumb></app-breadcrumb></p>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="sideNav == false" (click)="sideNavToggle()"></div>