@import 'src/theme/theme-default.scss';
@import 'src/theme/theme-dark.scss';
@import 'src/theme/theme-blue.scss';

.header-area {
  display: none;
  padding: 10px 20px;
  box-sizing: border-box;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
  position: fixed;
  top: 100px;
  width: 100%;
  left: 0px;
  z-index: 100;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.header-main .logo {
  border: none;
  margin: 0;
}

.header-main .log-left {
  display: block;
}

.header-main .log-left img {
  width: 45px;
  height: 40px;
  object-fit: contain;
}

.log-right {
  display: block;
}

.header-main .log-right a {
  text-transform: uppercase;
  //   font-family: $font-en-nunito;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 1px;
}

.menu-bar {
  display: block;
}

.menu-bar span {
  font-size: 25px;
  cursor: pointer;
}

.dashboard-page-render {
  display: block;
  width: 100%;
  min-height: 100vh;
  //max-height: auto;
}

.page-render-area-left {
  padding-left: 250px;
  width: 100%;
  box-sizing: border-box;
  // transition: all 0.3s linear;
}

.page-render-area-right {
  padding-right: 250px;
  width: 100%;
  box-sizing: border-box;
  // transition: all 0.3s linear;
}

.side-nav {
  position: absolute;
  top: 60px;
  width: 250px;
  box-sizing: border-box;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 10;
}

.sidenavRight {
  right: 0;
}

.sidenavLeft {
  left: 0;
}

.side-nav.theme-light {
  background-color: $default_sidenav_bg;

  a {
    color: $default_sidenav_color;

    &:hover {
      color: $default_sidenav_hover;
    }
  }
}

.side-nav.theme-dark {
  background-color: $dark_sidenav_bg;

  a {
    color: $dark_sidenav_color;

    &:hover {
      background-color: $dark_sidenav_hover;
    }
  }
}

.side-nav.theme-cosmic {
  background-color: $blue_sidenav_bg;

  a {
    color: $blue_sidenav_color;

    &:hover {
      color: $blue_sidenav_hover;
    }
  }
}

.side-nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
}

.side-nav-main {
  height: 100%;
  // overflow: -moz-scrollbars-vertical;
  // overflow-y: scroll;
  padding-bottom: 60px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}

.side-nav-main::-webkit-scrollbar {
  display: none;
}

.p-100 {
  padding-left: 88px;
}

.p-l-100 {
  padding-right: 88px !important;
}

.w-100px {
  width: 60px;
  // overflow-x: auto;
}

.over-x {
  // overflow-x: auto;
}

.logo {
  img {
    width: 150px;
  }

  h2 {
    font-weight: 500;
  }
}

.side-nav-top {
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.al-center {
  justify-content: center;
  border: none;
}

.al-center .menu-bar {
  display: block;
  width: 100%;
  text-align: center;
}

.al-center .menu-bar span {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  height: 40px;
  border-radius: 4px;
}

.side-nav-top .menu-bar span {}

.side-nav .logo-hide {
  display: none;
}

.log-left {
  display: block;
}

.log-left img {
  width: 45px;
  object-fit: contain;
}

.log-right {
  display: block;
}

.log-right a {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 1px;
}

.menu {
  display: block;
  width: 100%;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menu ul li {
  display: block;
  // margin-bottom: 15px;
  border-bottom: 1px solid rgb(2, 9, 29);
  width: 100%;
}


.menu ul li a {
  padding: 14px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  //   font-family: $font-en-nunito;
  font-weight: 400;
  font-size: 14px;
  height: 50px;
  transition: all 0.1s linear;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}


.menu ul li a .icon {
  font-size: 22px;
}

.sumbenu {
  position: relative;

  ::ng-deep mat-icon {
    position: absolute;
    top: 14px;
    right: 5px;
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}

.submenu-content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

  a {
    border-bottom: 1px solid #101426;
  }
}

.submenu-content a:first-child {
  border-top: 1px solid #101426;
}

.submenu-content a:last-child {
  border-bottom: none;
}

.submenu-hide {
  display: none;
  height: 0px;
}

.submenu-open {
  display: block;
  height: 100%;
}

// .menu ul li a span {
//   visibility: visible;
//   opacity: 1;
// }

.menu ul li a .menu-hide {
  display: none;
  opacity: 0;
}

.menu ul li a .menu-show {
  display: block;
  opacity: 1;
}

// .menu ul li .link-active {
//   color: #3366ff;
// }

.all-page-render {
  margin-top: 60px;
  padding: 20px 15px;
  box-sizing: border-box;
}

// .overlay {
//   position: fixed;
//   top: 0;
//   display: none;
//   left: 0;
//   background-color: rgb(0 0 0 / 60%);
//   z-index: 199;
//   width: 100%;
//   height: 100vh;
//   z-index: -1;
// }

.submenu {
  margin-left: 10px;
}




//scroll-bar



::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #101426 red;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 3% !important;
}

*::-webkit-scrollbar-track {
  background: #2e3a59;
  height: 3% !important;

}

*::-webkit-scrollbar-thumb {
  background-color: #101426;
  border-radius: 5px;
  border: 0px solid #2e3a59;
  height: 3% !important;
}



//header




.container {
  max-width: 1290px;
  margin: auto;
  width: 100%;
}

.header {
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header.theme-light {
  background-color: $default_primary-color;
  color: $default_text-color;
  box-shadow: $default_header_shadow;
}

.header.theme-dark {
  background-color: $dark_primary-color;
  color: $dark_text-color;
  box-shadow: $dark_header_shadow;
}

.header.theme-cosmic {
  background-color: $blue_primary-color;
  color: $blue_text-color;
  box-shadow: $blue_header_shadow;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;

  h2 {
    margin-bottom: 0px;
  }
}

.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
  }
}

::ng-deep .mat-button-wrapper {
  background: transparent !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  gap: 5px !important;

  p {
    font-size: 16px;
    margin-bottom: 0px;
  }

}

// ::ng-deep .mat-menu-panel {
//   min-width: 150px !important;
//   width: 100% !important;
//   background-color: #222b45 !important;
// }

::ng-deep .mat-menu-item {
  text-align: center !important;
  border-bottom: 1px solid #101426 !important;

}

// ::ng-deep .mat-menu-item:hover {
//   color: #598bff !important;
// }
::ng-deep .mat-tooltip {
  color: rgb(10, 10, 1) !important;
  background-color: #FFFF !important;
  // position: absolute !important;
  // left: -15px !important;
  // top: -25px !important;
  min-width: 90px !important;
  width: 100% !important;
  text-align: center !important;
  padding: 5px 10px !important;
  font-size: 14px !important;
  line-height: 26px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  display: inline-block !important;
  text-align: start !important;
  font-weight: 500 !important;
  border: 1px solid #101426 !important;
  max-width: 120px !important;
}

.settings {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  height: 40px;
  width: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
  color: #8E98B3;
  background-color: #FFFF;
  transition: all 0.3s linear;

  &:hover {
    background-color: #ffffff0e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.settings-button-left {
  left: 240px !important;
  right: auto !important;
  transition: all 0.3s linear;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.settings-button-left-first {
  left: 0 !important;
  right: auto !important;
  transition: all 0.3s linear;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.settings-main.theme-light {
  background-color: $default_sidenav_bg;

  a {
    color: $default_sidenav_color;

    &:hover {
      color: $default_sidenav_hover;
    }
  }
}

.settings-main.theme-dark {
  background-color: $dark_sidenav_bg;
  box-shadow: $dark_settings_bar_shadow;

  a {
    color: $dark_sidenav_color;

    &:hover {
      background-color: $dark_sidenav_hover;
    }
  }
}

.settings-main.theme-cosmic {
  background-color: $blue_sidenav_bg;
  box-shadow: $blue_header_shadow;

  a {
    color: $blue_sidenav_color;

    &:hover {
      color: $blue_sidenav_hover;
    }
  }
}

.settings-main {
  position: fixed;
  top: 60px;
  // right: 0px;
  width: 200px;
  z-index: 10;
  height: 100vh;
  padding: 20px;
}


// .settings-hide {
//   left: -240px;
//   background-color: #FFFF;
//   transition: all 0.3s linear;
// }

.settings-right-hide{
  right: -240px;
  background-color: #FFFF;
  transition: all 0.3s linear;
}
.settings-left-hide{
  left: -240px;
  background-color: #FFFF;
  transition: all 0.3s linear;
}
.settings-open {
  right: 0px;
  transition: all 0.3s linear;
}

.settings-open-left {
  transition: all 0.3s linear;
  left: 0;
}

.settings-open-right {
  transition: all 0.3s linear;
  right: 0;
}

.settings-left-open {
  left: 0px;
  transition: all 0.3s linear;
}

.settings-left-hide {
  left: -240px;
  transition: all 0.3s linear;
}


///
.example-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

::ng-deep .mat-radio-button {
  display: block !important;
  margin-bottom: 10px !important;
}



// //theme
// #theme-white,
// #theme-blue,
// #theme-orange,
// #theme-purple {
//   width:20px;
//   height: 20px;
//   border-radius: 50%; /* Makes the divs circular */
//   margin: 10px;
//   cursor: pointer;
//   border: 1px solid black;
// }

// #theme-white {
//   background-color: white;
// }

// #theme-blue {
//   background-color: blue;
// }

// #theme-orange {
//   background-color: orange;
// }

// #theme-purple{
//   background-color: purple;
// }
//content
.content.theme-light {
  background-color: $default_background-color;
  color: $default_text-color;
}

.content.theme-dark {
  background-color: $dark_background-color;
  color: $dark_text-color;
}

.content.theme-cosmic {
  background-color: $blue_background-color;
  color: $blue_text-color;
}




//extra


.extra-small-sidenav {
  ul {
    list-style: none;
    padding-top: 0px;
    padding-inline-start: 0px!important;
    margin-block-start: 0px!important;
    li{
      padding: 10px;
      border-bottom: 1px solid #0d0f2b;
      cursor: pointer;
      position: relative!important;
      button{
        border: none;
        outline: none;
        background-color: transparent;
        color: #FFFF;
        cursor: pointer;
      }
      ::ng-deep  .mat-menu-panel {
        width: 100% !important;
        background-color: #ffffff !important;
        min-height: 56px!important;
      }
      ::ng-deep .parent.mat-menu-pannel{
        position: absolute;
        top: 0;
        right: 1000;
      }
    }

    ::ng-deep .mat-button,
    .mat-icon-button,
    .mat-stroked-button,
    .mat-flat-button {
      padding: 0px !important;
    }

  }

}
 ::ng-deep .parent.mat-menu-panel{
  position: absolute !important;
  height: auto!important;
  min-height: auto!important;
  max-height: auto!important;

  .mat-menu-item {
    line-height: 30px!important;
    height: 30px!important;
    padding: 0 10px!important;
    border-bottom: none!important;
}

}
::ng-deep .parent-big.mat-menu-panel{
  min-width: 170px!important;
}

::ng-deep.parent-left.mat-menu-panel{
  top: -37px !important;
  left: 43px !important;
}


::ng-deep.parent-right.mat-menu-panel{
  top: -37px !important;
  right: 55px !important;
}


//sidebar hover css

.child-menu-parent{
  position: relative;
  .child-menu{
    display: none;
    position: absolute;
    top: 0;
    background-color: #FFFF;
    color: black;
    border-radius: 5px;
    text-align: left;
    min-width: 170px;
    padding: 10px;
    h2{
      font-size: 16px;
      margin-bottom: 0px;
      padding: 0px 10px;
    }
    .chield-submenu{
      a{
        font-size: 14px;
        color: black;
        padding: 0px;
        height: auto;
        padding: 5px 10px;
        &:hover{
          background-color: #666;
          color: #FFFF;
        }
      }
    }

  }
}

.child-menu-right{
  left: 60px;

}
.child-menu-ex{
  top: 10px!important;
}
.child-menu-left{
  right: 60px;

}
.child-menu-parent:hover .child-menu{
  display: block;
}