<div class="section-1">
  <div class="container">
    <div class="section-1-main {{storedTheme}}">
      <div class="form-container">
        <div class="top-input-header">
          <div class="title">
            <h2> Register</h2>
          </div>
        </div>
        <form class="form" #formElement="ngForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off">
          <mat-form-field appearance="outline" class="w-100 px-1">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="username" placeholder="Enter User name">
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100 px-1">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Enter email">
          </mat-form-field>


          <mat-form-field appearance="outline" class="w-100 px-1">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" placeholder="Enter password">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select formControlName="roles" multiple>
              <mat-option *ngFor="let role of allRoles?.data" [value]="role?.name">{{role?.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="submit-area">
            <button mat-raised-button color="primary" type="submit">
              Register
            </button>
            <p>Already have an account? <a routerLink="/auth/login">Log in</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>