/* Colors */
$default_primary-color: #FFFFFF;
$default_secondary-color:  linear-gradient(to right,#ff708d,#ff3d71);
$default_background-color: #EDF0F7;
$default_text-color: #232645;
$default_sidenav_bg: #FFFF;
$default_sidenav_color: #222b45;
$default_sidenav_hover:#598bff;
$default_header_shadow:0 .5rem 1rem 0 rgba(44, 51, 73, .1);