/* Colors */
$dark_primary-color: #e91d63;
$dark_secondary-color: linear-gradient(to right,#cf3341,#b00020);;
$dark_background-color: #303030;
$dark_text-color: #FFFFFF;
$dark_sidenav_bg: #1F1F1F;
$dark_sidenav_color: #BFBFBF;
$dark_sidenav_hover: #282828;
$dark_header_shadow: 0px 3px 5px -1px rgba(0, 0, 0, .2), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12);
$dark_settings_bar_shadow: 0px 2px 1px -1px rgba(0, 0, 0, .2), 0px 1px 1px 0px rgba(0, 0, 0, .14), 0px 1px 3px 0px rgba(0, 0, 0, .12);