<div class="page-header">
    <h3 class="page-title">ChartJs</h3>
  </div>
<div class="chart-container">
  <div class="card {{storedTheme}}">
    <div class="card-body">
      <h4 class="card-title">Line chart</h4>
<div id="divchart">
        <canvas id="MyChart">{{ lineChart }}</canvas>
</div>
    </div>
  </div>
  <div class="card {{storedTheme}}">
    <div class="card-body">
      <h4 class="card-title">Bar chart</h4>
      <canvas id="MyChart2">{{ barChart }}</canvas>
    </div>
  </div>
  <div class="card {{storedTheme}}">
    <div class="card-body">
      <h4 class="card-title">Area chart</h4>

      <canvas id="MyChart4">{{ areaChart }}</canvas>
    </div>
  </div>
  <div class="card {{storedTheme}}">
    <div class="card-body">
      <h4 class="card-title">Doughnut chart</h4>
      <canvas id="MyChart3">{{ doughnut }}</canvas>
    </div>
  </div>
  <div class="card {{storedTheme}}">
    <div class="card-body">
      <h4 class="card-title">Pie chart</h4>
      <canvas id="MyChart5">{{ pieChart }}</canvas>
    </div>
  </div>
  <div class="card {{storedTheme}}">
    <div class="card-body">
      <h4 class="card-title">Scatter chart</h4>
      <canvas id="MyChart6">{{ scatterChart }}</canvas>
    </div>
  </div>
</div>
  