<div class="dashboard">
    <div class="total-container">
        <div class="total-elm">
            <div class="total-elm-container">
                <div class="total-elm-left">
                    <p>TOTAL TRAFFIC</p>
                    <h2>350,897</h2>
                    </div>
                    <div class="total-elm-right">
            <div class="icon">
            <mat-icon>supervised_user_circle</mat-icon>
            </div>
                    </div>
            </div>
            <div class="total-elm-bottom">
                <mat-icon> vertical_align_top</mat-icon> <p class="amount">3.48%</p><p class="since">Since last month</p>
            </div>
        </div>
        <div class="total-elm">
            <div class="total-elm-container">
                <div class="total-elm-left">
                    <p>TOTAL TRAFFIC</p>
                    <h2>350,897</h2>
                    </div>
                    <div class="total-elm-right">
            <div class="icon">
            <mat-icon>supervised_user_circle</mat-icon>
            </div>
                    </div>
            </div>
            <div class="total-elm-bottom">
                <mat-icon> vertical_align_top</mat-icon> <p class="amount">3.48%</p><p class="since">Since last month</p>
            </div>
        </div>
        <div class="total-elm">
            <div class="total-elm-container">
                <div class="total-elm-left">
                    <p>TOTAL TRAFFIC</p>
                    <h2>350,897</h2>
                    </div>
                    <div class="total-elm-right">
            <div class="icon">
            <mat-icon>supervised_user_circle</mat-icon>
            </div>
                    </div>
            </div>
            <div class="total-elm-bottom">
                <mat-icon> vertical_align_top</mat-icon> <p class="amount">3.48%</p><p class="since">Since last month</p>
            </div>
        </div>
        <div class="total-elm">
            <div class="total-elm-container">
                <div class="total-elm-left">
                    <p>TOTAL TRAFFIC</p>
                    <h2>350,897</h2>
                    </div>
                    <div class="total-elm-right">
            <div class="icon">
            <mat-icon>supervised_user_circle</mat-icon>
            </div>
                    </div>
            </div>
            <div class="total-elm-bottom">
                <mat-icon> vertical_align_top</mat-icon> <p class="amount">3.48%</p><p class="since">Since last month</p>
            </div>
        </div>
    </div>
</div>


<div class="line-chart">
    <app-line-cart></app-line-cart>
</div>